
# HTID:13434456: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13434456:

# HTID:13434458: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /tv/home.html http://ahuertas.byethost7.com/acceso.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13434458:
AddType application/pspdownloadfile xpd
